# Default ignored files
/shelf/
/workspace.xml

/Users/Ben/Documents/GitHub/Data-Science-and-Machine-Learning/*.png
/Users/Ben/Documents/GitHub/Data-Science-and-Machine-Learning/*.css
/Users/Ben/Documents/GitHub/Data-Science-and-Machine-Learning/*.woff
/Users/Ben/Documents/GitHub/Data-Science-and-Machine-Learning/*.js
